body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fbfbfb;
}

.App{
width: 100%;
margin: auto;
}
.nav-container{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 0.5rem;
  background-color: 	#f8f8f8;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
}
.input-container{
  position: relative;
  border: none;
  width: 30%;
  border-radius: 5px;
}
.input-container input{
  border: none;
  width: 100%;
  padding: 1rem;
  border-radius: 5px;
}
.nav-container input:focus{
  outline: none;
}
.search-icon{
  width: 1.5rem;
  position: absolute;
  right: 0;
  top: 30%;
}
.nav-imgs{
  width: 2rem;
}
.logo{
  width: 9rem;
}

.menu-profpic-container{
  display: flex;
  align-items: center;
  gap: 1rem;
}

.menu-profpic-container :nth-child(2){
  background-color:#ffffff;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: ease-in-out 0.2s;

}
.menu-profpic-container :nth-child(2):hover{
  background-color:#484b6a;
  color: white;
}

.menu-profpic-container :nth-child(3){
  background-color:#e4e5f1;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: ease-in-out 0.2s;

}
.menu-profpic-container :nth-child(3):hover{
  background-color:#484b6a;
  color: white;
}
.App-header{
  margin: auto;
  margin-top: 6rem;
  width: 60%;
}
.App-header :first-child{
  text-align: center;
  font-size: 3rem;
  font-weight: 900
}
.App-header :nth-child(2){
  text-align: center;
  margin: auto;
  font-size: 1.5rem;
  color: #484b6a;

}
.filter-buttons{
  display: flex;
  margin-top: 2rem;
  align-items: center;
  justify-content:center;
  gap: 1rem;
}
.filter-buttons button{
  border: none;
  padding: 0.6rem 2rem;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
  transition: ease-in-out 0.2s;
  cursor: pointer;
}
.filter-buttons button:hover{
  background-color:#484b6a;
  color: white;
  
}

/*  */