
.habit-main-container{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 2rem;
    width: 80%;
    margin: auto;
    flex-wrap: wrap;

}

.habit-container{
  width: 26%;
  border: 1px solid #484b6a34;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
  border-radius: 5px;
  padding: 2rem;
}
.habit-container:hover{
  border: 1px solid #484b6a7c;
    
}
.title-status-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #484b6a25;
}
.habit-status{
    background-color: #484b6a2d;
    padding: 0.3rem 0.5rem;
    font-size: 0.8rem;
    border-radius: 3px;

}
.progress-bar{
    background-color: green;
    height: 0.3rem;
    border-radius: 5px;
    width: 100%;
}
.Motivation-text{
    margin-top: 10px;
    background-color: #484b6a21;
    width: 25%;
    text-align: center;
    padding: 0.3rem 0.5rem;
    font-size: 0.8rem;
    border-radius: 3px;
}
.icons-container{
    display: flex;
    margin-top: 1rem;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
}
.icons{
    padding: 0.5rem;
    /* box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px; */
    border-radius: 50%;
    /* border: 1px solid #484b6a29; */
    
}
.icons:hover{
    background-color: #484b6a29;
    border-radius: 50%;
    border: 1px solid #484b6a29;
    cursor: pointer;
}
.edit-delete-main-container{
    position: relative;
}
.edit-delete-icons-container{
    position: absolute;
    right: 0;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
    background-color: white;
    border: 1px solid #484b6a29;
    z-index: 1;
    width: 8rem;
    border-radius: 5px;
}
.edit-delete-icon-one{
    border-bottom: 1px solid #484b6a29;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0rem 1rem;

}
.edit-delete-icon-one > p{
font-size: 0.8rem;
}
.edit-delete-icon-one:hover{
    background-color: #d4fcd4;
    cursor: pointer;
    /* color: #beffbe; */
}


.edit-delete-icon-two{
    border-bottom: 1px solid #484b6a29;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0rem 1rem;

}
.edit-delete-icon-two > p{
font-size: 0.8rem;
}
.edit-delete-icon-two:hover{
    background-color: #fcd4d4;
    cursor: pointer;
    /* color: #beffbe; */
}

.dashboard-header{
  margin: auto;
  margin-top: 9rem;
  width: 60%;
}

.dashboard-header :first-child{
  text-align: center;
  font-size: 3rem;
  font-weight: 900
}
.dashboard-header :nth-child(2){
  text-align: center;
  margin: auto;
  font-size: 1.5rem;
  color: #484b6a;

}
.filter-buttons{
  display: flex;
  margin-top: 2rem;
  align-items: center;
  justify-content:center;
  gap: 1rem;
}
.filter-buttons button{
  border: none;
  padding: 0.6rem 2rem;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
  transition: ease-in-out 0.2s;
  cursor: pointer;
}
.filter-buttons button:hover{
  background-color:#484b6a;
  color: white;
  
}

/* ADD HABIT */
.add-habit-input-container{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 2.5rem;
    margin-top: 1rem;
    width: 100%;
}
.add-habit-input{
    width: 100%;
    padding: 1rem;
    border-radius: 5px;
    border: 1px solid #484b6a28;
}
.date-picker{
     width: 80%;
    padding: 1rem;
    border-radius: 5px;
    border: 1px solid #484b6a28;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.input-contaier{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 100%;
}