.App{
width: 100%;
margin: auto;
}

.App-header{
  margin: auto;
  margin-top: 6rem;
  width: 60%;
}
.App-header :first-child{
  text-align: center;
  font-size: 3rem;
  font-weight: 900
}
.App-header :nth-child(2){
  text-align: center;
  margin: auto;
  font-size: 1.5rem;
  color: #484b6a;

}

/*  */