.nav-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* width: 100%; */
  margin: auto;
  padding: 1rem 10rem;
  background-color: 	#ffffff;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;

  /* margin: auto; */

}
.input-container{
  position: relative;
  border: none;
  width: 30%;
  border-radius: 5px;

}
.input-container input{
  border: none;
  width: 100%;
  padding: 1rem;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;

}
.nav-container input:focus{
  outline: none;
}
.search-icon{
  width: 1.5rem;
  position: absolute;
  right: 0;
  top: 30%;
}
.nav-imgs{
  width: 2rem;
}
.logo{
  width: 9rem;
}
.logo-help-btn{
  display: flex;
  align-items: center;
  gap: 1rem;
  justify-content: center;
}
.menu-profpic-container{
  display: flex;
  align-items: center;
  gap: 1rem;
}
.nav-btn-one{
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: ease-in-out 0.2s;
}
.nav-btn-two{
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: ease-in-out 0.2s;
}
.nav-btn-three{
  border: none;
  background-color: #484b6a;
  color: #ffffff;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: ease-in-out 0.2s;
}
.nav-btn-two:hover, .nav-btn-one:hover{
  background-color: #686d9a;
  color: white;
}
.nav-btn-three:hover{
  background-color: #686d9a;
  color: white;
}



/* Protected NAV */
.filter-add-habit-container{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.add-habit-filter{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.2rem;
  /* box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px; */
  border: 1px solid #484b6a34;
  border-radius: 5px;
  padding: 0.5rem 1rem;
}
.add-habit-filter > button{
  border: none;
  background-color: transparent;
}

.add-habit-filter:hover{
  color: white;
  background-color: #484b6a;
  cursor: pointer;
  transition: ease-in-out 0.2s;
}
.add-habit-filter>button:hover{
  color: white;
}